<footer class="footer text-center">
    <div class="container">        
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="logo-pink"></div>                
            </div>
            <div class="col-md-6">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle" href="mailto:enquiries@whitefractal.com">
                        <i class="icon-envelope"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle" href="https://github.com/whitefractal">
                        <i class="icon-social-github"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle" href="https://www.linkedin.com/in/alistairbraden/">
                            <i class="icon-social-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 mx-auto">
                <p class="small mb-0">White Fractal Limited is registered in England & Wales, no. 12521566, The Old Chapel, Union Way, Witney, Oxfordshire, UK, OX28 6HD.</p>
                <p class="small mb-0">Website copyright &copy; White Fractal Limited 2020.</p>
            </div>
        </div>
        
    </div>
</footer>