<a class="menu-toggle rounded-circle" href="{{ site.url }}">
    <i class="fas fa-bars"></i>
</a>    
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/index.html#page-top"></a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/index.html#about">About</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/index.html#reports">Reports & Analysis</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/index.html#handson">Hands-on Engineering</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/index.html#dsm">Dynamic Spectrum Management</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/index.html#contactus">Contact Us</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="{{ site.baseurl }}/index.html#blog">Blog</a>
            <ul>
              {% for post in site.posts %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
        </li>        
    </ul>
</nav>