<a class="menu-toggle rounded" href="{{ site.url }}">
    <i class="fas fa-bars"></i>
</a>    
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" href="#page-top"></a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#startups">Start-ups, Spin-outs, R&D</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#dsm">Dynamic Spectrum Management</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#blog">Blog</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#contactus">Contact Us</a>
        </li>
    </ul>
</nav>